# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\08_DevPersonal\Python\my-python-arsenal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
